/*	Geometria Bold */

@font-face {
	font-family: Geometria;
	src:
		url('fonts/Geometria-Bold/Geometria-Bold.eot?') format('eot'),
		url("fonts/Geometria-Bold/Geometria-Bold.eot?#iefix") format("embedded-opentype"),
		url('fonts/Geometria-Bold/Geometria-Bold.otf')  format('opentype'),
		url('fonts/Geometria-Bold/Geometria-Bold.woff') format('woff'),
		url('fonts/Geometria-Bold/Geometria-Bold.ttf')  format('truetype'),
		url('fonts/Geometria-Bold/Geometria-Bold.svg#Geometria') format('svg');
	font-weight: 700;
	font-style: normal;
}

/*	Geometria Medium */

@font-face {
	font-family: Geometria;
	src:
		url('fonts/Geometria-Medium/Geometria-Medium.eot?') format('eot'),
		url('fonts/Geometria-Medium/Geometria-Medium.eot?#iefix') format('embedded-opentype'),
		url('fonts/Geometria-Medium/Geometria-Medium.otf')  format('opentype'),
		url('fonts/Geometria-Medium/Geometria-Medium.woff') format('woff'),
		url('fonts/Geometria-Medium/Geometria-Medium.ttf')  format('truetype'),
		url('fonts/Geometria-Medium/Geometria-Medium.svg#Geometria') format('svg');
	font-weight: 500;
	font-style: normal;
}

/*	Geometria Regular */

@font-face {
	font-family: Geometria;
	src:
			url('fonts/Geometria-Regular/Geometria.eot?') format('eot'),
			url('fonts/Geometria-Regular/Geometria.eot?#iefix') format('embedded-opentype'),
			url('fonts/Geometria-Regular/Geometria.otf')  format('opentype'),
			url('fonts/Geometria-Regular/Geometria.woff') format('woff'),
			url('fonts/Geometria-Regular/Geometria.ttf')  format('truetype'),
			url('fonts/Geometria-Regular/Geometria.svg#Geometria') format('svg');
	font-weight: 400;
	font-style: normal;
}

/*	Geometria Light */

@font-face {
	font-family: Geometria;
	src:
		url('fonts/Geometria-Light/Geometria-Light.eot?') format('eot'),
		url('fonts/Geometria-Light/Geometria-Light.eot?#iefix') format('embedded-opentype'),
		url('fonts/Geometria-Light/Geometria-Light.otf')  format('opentype'),
		url('fonts/Geometria-Light/Geometria-Light.woff') format('woff'),
		url('fonts/Geometria-Light/Geometria-Light.ttf')  format('truetype'),
		url('fonts/Geometria-Light/Geometria-Light.svg#Geometria') format('svg');
	font-weight: 300;
	font-style: normal;
}

ul,ol{padding: 0;margin: 0;}
*{outline: 0 !important;}
li{list-style-type: none;}
h1,h2,h3,h4,p, .h1, .h2, .h3, .h4{line-height: normal;margin: 0;padding: 0;}
html {height: 100%;}
a,a:hover,a:focus,a:active{text-decoration: none;}
body {line-height: normal;color: #000;height: 100%;background-color: #fff;font-family:Geometria;}

.container {
	width: 1200px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.content {
  	flex: 1 0 auto;
}

footer {
  	flex: 0 0 auto;
}

header {
	padding: 10px 0;
}

header .logo {
	width: 270px;
	height: 80px;
	display: block;
	padding-left: 5px;
}

header .logo svg {
	width: 200px;
	height: 100%;
}

header nav {
	float: right;
	padding-top: 10px;
}

header nav > a.menu_item {
	color: #222222;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	padding: 17px 35px 17px 0;
	position: relative;
	display: inline-block;
}

header nav > a.menu_item:before {
	position: absolute;
	content: '';
	width: 0;
	height: 2px;
	background-color: #1333f7;
	top: 11px;
	left: 0;
	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	-ms-transition: width 0.3s;
	-o-transition: width 0.3s;
	transition: width 0.3s;
}

header nav > a.menu_item:hover::before {
	width: 30px;
}


header nav > a.menu_item.active:before {
	position: absolute;
	content: '';
	width: 30px;
	height: 2px;
	background-color: #1333f7;
	top: 11px;
	left: 0;
}

a.main_btn {
	background-color: #1333f7;
	color: #fefefe;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
	padding: 8px 18px;
	letter-spacing: 3.2px;
	display: inline-block;
}
section.section_for__canvas {
	position: relative;
}

section.section_for__canvas:after {
	position: absolute;
	content: '';
	/*bottom: 80px;*/
	bottom: 0;
	left: 0;
	width: 100%;
	height: 200px;
	z-index: 1;
	background: url('images/piska.png');
}

section.section_for__canvas:before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 200px;
	z-index: 1;
	background: url('images/piska.png');
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

section.section_for__canvas div#block_for__canvas {
	/*background-color: #cad0fb;*/
	overflow: hidden;
	height: 745px !important;
	width: 100% !important;
}

section.section_for__canvas .container {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	margin: auto;
}

section.section_for__canvas p.main_text {
	position: absolute;
	left: 15px;
	top: 200px;
	color: #ffffff;
	font-size: 36px;
	font-weight: 500;
	line-height: 50px;
	padding: 0 20px;
	background-color: #1333f7;
	cursor: default;
}

section.section_for__canvas p.main_text.second_string {
	top: 255px;
}

section.section_for__canvas .pluses {
	position: absolute;
	left: 15px;
	top: 335px;
}

section.section_for__canvas .pluses img {
	display: inline-block;
	margin: 0 10px 0 20px;
}

section.section_for__canvas .item {
	position: absolute;
	top: 440px;
	left: 15px;
	z-index: 5;
}

section.section_for__canvas .item > p {
	color: #222222;
	font-size: 24px;
	font-weight: 500;
	line-height: 56px;
	padding-bottom: 5px;
}

section.section_for__canvas .item > span {
	color: #222222;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	display: inline-block;
}

section.section_for__canvas .item > span > b {
	color: #1333f7;
	font-weight: 500;
}

p.theme_title {
	display: inline-block;
	background-color: #1333f7;
	color: #ffffff;
	font-size: 24px;
	font-weight: 500;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 4.8px;
	padding: 12px 17px;
	margin-bottom: 100px;
}

p.theme_title:before {
	position: absolute;
	content: '';
	left: -50%;
	width: 700px;
	background-color: #1333f7;
	top: 45px;
	height: 2px;
}

section.index_calc .card {
	box-shadow: none;
	border-radius: 0;
	cursor: default;
	width: 270px;
	min-height: 230px;
	border: 2px solid #cccccc;
	position: relative;
	padding: 30px 0 0;
}

section.index_calc .card figure {
	position: absolute;
	width: 100%;
	height: 101%;
	top: -2px;
	left: -2px;
	right: 0;
	margin: auto;
}

section.index_calc .card_wrapper {
	margin-bottom: 50px;
}

section.index_calc .card:hover figure {
	border: 2px solid #1333f7;
	border-bottom: 0;
	height: 0;
	animation: buba_square 0.4s linear forwards;
	box-sizing: content-box;
}

@keyframes buba_square {
	0% {
		width: 0;
		height: 0;
	}
	50% {
		width: 100%;
		height: 0;
	}
	100% {
		height: 100%;
	}
}

section.index_calc .card p {
	color: #222222;
	font-size: 16px;
	font-weight: 400;
	padding-left: 30px;
	padding-right: 30px;
}

section.index_calc .card em {
	font-style: normal;
}

section.index_calc .card p > b {
	color: #1333f7;
	font-size: 36px;
	font-weight: 500;
	line-height: 24px;
	display: block;
	padding: 0 0 18px 0;
}

section.index_calc .card p > span {
	color: #1333f7;
	font-size: 24px;
	font-weight: 500;
	line-height: 24px;
	display: block;
	padding: 42px 0 13px;
	position: relative;
	-webkit-transition: 0.3s all;
	-moz-transition: 0.3s all;
	-ms-transition: 0.3s all;
	-o-transition: 0.3s all;
	transition: 0.3s all;
}
section.index_calc .card:hover p > span {
	padding: 54px 0 13px;
}

section.index_calc .card:hover p > span:before {
	position: absolute;
	content: '';
	width: 40px;
	height: 2px;
	top: 26px;
	left: 0;
	right: 0;
	margin: auto;
	background-color: #1333f7;
	opacity: 1;
	animation: width_growth 0.2s linear forwards;
}

@keyframes width_growth {
	0% {
		width: 0;
	}
	25% {
		width: 10px;
	}
	50% {
		width: 20px;
	}
	75% {
		width: 30px;
	}
	100% {
		width: 40px;
	}
}

section.index_calc .card_wrapper a.card_btn {
	position: relative;
	top: -2px;
	height: 0;
	border: 0;
	background-color: #1333f7;
	color: #ffffff;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
	text-transform: uppercase;
	letter-spacing: 3.2px;
	opacity: 0;
	visibility: hidden;
	padding: 0;
	text-align: center;
	-webkit-transition: 0.4s all;
	-moz-transition: 0.4s all;
	-ms-transition: 0.4s all;
	-o-transition: 0.4s all;
	transition: 0.4s all;
	display: block;
}

section.index_calc .card_wrapper a.card_btn > b {
	padding: 17px 0;
	display: inline-block;
	font-weight: 400;
}

section.index_calc .card_wrapper:hover a.card_btn {
	opacity: 1;
	visibility: visible;
	height: 50px;
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	-ms-transition: height 0.3s;
	-o-transition: height 0.3s;
	transition: height 0.3s;
	transition-delay: 0.35s;
}

section.index_calc {
	padding: 0 0 100px;
}

p.title {
	color: #222222;
	font-size: 30px;
	font-weight: 500;
	padding: 20px 0 38px;
	line-height: 36px;
}

form#calc {
	position: relative;
}

form#calc:before {
	position: absolute;
	content: '';
	right: -8px;
	bottom: 0;
	width: 20px;
	height: 20px;
	background: url('images/little_plus.png');
}

form#calc .input_block {
	display: inline-block;
	width: 170px;
	margin-right: 60px;
}

form#calc .input_block > b {
	color: #808080;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}

form#calc .profit_block {
	display: inline-block;
	vertical-align: top;
}

form#calc .profit_block p {
	padding-bottom: 18px;
}

form#calc .profit_block p:last-child {
	padding-bottom: 0;
}

form#calc .profit_block > p > span {
	display: inline-block;
	color: #222222;
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
	width: 125px;
}

form#calc .profit_block  > p > b {
	color: #1333f7;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
}

section.cabinet form#calc {
	margin-bottom: 100px;
}

form#calc .profit_block  > p > i {
	color: #222222;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	font-style: normal;
	display: inline-block;
	margin-left: 5px;
}

section.sign_up,
section.affiliate,
section.about_company,
section.statistics {
	padding: 100px 0;
	overflow: hidden;
}

section.sign_up > .container {
	position: relative;
}

section.sign_up > .container:before {
	position: absolute;
	content: '';
	left: 6px;
	top: -16px;
	width: 20px;
	height: 20px;
	background: url('images/little_plus.png');
}

section.sign_up > .container:after {
	position: absolute;
	content: '';
	left: 6px;
	bottom: -3px;
	width: 20px;
	height: 20px;
	background: url('images/little_plus.png');
}

section.sign_up p.title {
	padding: 85px 0 32px;
}

section.sign_up span {
	color: #222222;
	font-size: 16px;
	font-weight: 400;
	line-height: 36px;
}

section.sign_up span > b {
	color: #1333f7;
	font-weight: 500;
}

section.sign_up a.main_btn {
	margin-top: 90px;
}

section.sign_up img {
	display: block;
	height: 454px;
	-webkit-background-size: cover;
	background-size: cover;
}

section.affiliate > .container {
	position: relative;
}

section.affiliate > .container:before {
	position: absolute;
	content: '';
	right: 4px;
	top: 140px;
	width: 20px;
	height: 20px;
	background: url('images/little_plus.png');
}

section.affiliate > .container:after {
	position: absolute;
	content: '';
	right: 6px;
	bottom: -3px;
	width: 20px;
	height: 20px;
	background: url('images/little_plus.png');
}

section.affiliate p.theme_title {
	margin-bottom: 72px;
}

span.text {
	display: block;
	color: #222222;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	padding: 0 60px 17px 0;
}

section.affiliate span.text:last-child {
	padding-bottom: 0;
}

section.cabinet.referral .chartist {
	height: 135px;
}

section.affiliate_program .chartist {
	height: 135px;
	margin: 100px auto;
	text-align: center;
}

.chartist {
	font-size: 0;
}

.chartist .chart_item {
	display: inline-block;
	width: 136px;
	height: 136px;
	position: relative;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	margin-right: 60px;
}

.chartist .chart_item:last-child {
	margin-right: 0;
}

.ct-chart > svg {
	position: relative;
	text-align: center;
}

.ct-chart b {
	display: inline-block;
	position: absolute;
	z-index: 9;
	top: 50%;
	left: 50%;
	transform: translate(-50%);
	margin: auto;
	color: #222222;
	font-family: Geometria;
	font-size: 29px;
	font-weight: 500;
	line-height: 13px;
}

section.about_company p.title:first-child {
	padding-top: 0;
	line-height: 16px;
	margin-bottom: 8px;
}

section.about_company .img_block {
	text-align: center;
	/*position: relative;*/
}

section.about_company .img_block img {
	width: 370px;
	height: 553px;
	-webkit-background-size: cover;
	background-size: cover;
}

section.about_company .pdf > span {
	position: absolute;
	content: '';
	width: 473px;
	height: 473px;
	background-color: #eeeeee;
	top: 50px;
	left: -14%;
	border-radius: 300px;
	right: 0;
	margin: auto;
	z-index: -1;
}

section.about_company .img_block a.pdf {
	display: block;
	position: relative;
}

section.about_company .img_block a.pdf:before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	background-color: #1333f7;
	opacity: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	-webkit-transition: 0.3s all;
	-moz-transition: 0.3s all;
	-ms-transition: 0.3s all;
	-o-transition: 0.3s all;
	transition: 0.3s all;
	background-image: url(images/loop.png);
	background-repeat: no-repeat;
	background-position: center;
}

section.about_company .img_block a.pdf:hover::before {
	opacity: 0.8;
}

section.about_company .img_block a.check_reg {
	display: inline-block;
	color: #222222;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	text-transform: uppercase;
	position: relative;
	padding: 35px 0 4px;
	width: auto;
}

section.about_company .img_block a.check_reg:after {
	position: absolute;
	content: '';
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #222222;
	height: 2px;
	-webkit-transition: 0.3s all;
	-moz-transition: 0.3s all;
	-ms-transition: 0.3s all;
	-o-transition: 0.3s all;
	transition: 0.3s all;
}

section.about_company .img_block a.check_reg:hover::after {
	background-color: #1333f7;
}
section.about_company .agent {
	position: relative;
	width: 360px;
	height: 410px;
	margin-top: 64px;
}

section.about_company .agent img {
	position: absolute;
	left: 0;
	top: 0;
}

section.about_company .agent .agent_block .social_systems {
	float: right;
}

section.about_company .agent .agent_block .social_systems svg {
	display: block;
	width: 30px;
	height: 30px;
	fill: #1333f7;
	margin: 5px 5px 0 0;
	-webkit-transition: 0.3s all;
	-moz-transition: 0.3s all;
	-ms-transition: 0.3s all;
	-o-transition: 0.3s all;
	transition: 0.3s all;
}

section.about_company .agent .agent_block .social_systems a.no_active svg {
	fill: rgba(0, 0, 0, 0.54)
}

section.about_company .agent .agent_block .social_systems svg:hover {
	fill: #5c71f6;
}

section.about_company .agent .agent_block {
	width: 277px;
	height: 377px;
	border: 2px solid #1333f7;
	float: right;
	margin-top: 33px;
	margin-right: 12px;
}

section.about_company .agent .agent_block p {
	color: #222222;
	font-size: 24px;
	font-weight: 500;
	line-height: 24px;
	position: absolute;
	bottom: 60px;
	left: 100px;
}

section.about_company .agent .agent_block span {
	color: #1333f7;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	position: absolute;
	bottom: 25px;
	left: 100px;
}

section.about_company .img_block > a.pdf {
	display: inline-block;
	width: 100%;
	height: 100%;
	box-shadow: 11px 20px 51px rgba(0, 0, 0, 0.25);
}

section.about_company span.text {
	padding-right: 0;
	padding-bottom: 40px;
}

section.about_company .advance {
	width: 290px;
	display: inline-block;
	padding-bottom: 35px;
	margin-right: 40px;
}
section.about_company .advance > p {
	color: #1333f7;
	font-size: 24px;
	font-weight: 500;
	line-height: 36px;
	padding-bottom: 13px;
}

section.about_company .advance > span {
	color: #222222;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

section.statistics .stat_item {
	text-align: center;
	margin-bottom: 35px;
}

section.statistics .stat_item > p {
	color: #222222;
	font-size: 36px;
	font-weight: 500;
	line-height: 24px;
	padding-bottom: 50px;
}

section.statistics .stat_item > span {
	color: #222222;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 3.2px;
}

section.statistics .table_stat__caption {
	text-align: center;
	color: #222222;
	font-size: 30px;
	font-weight: 500;
	line-height: 30px;
	margin: 50px 0 40px;
}

section.statistics .table_stat__caption > b {
	color: #1333f7;
}

section.statistics table {
	width: 100%;
}

section.statistics tr > td:first-child {
	width: 200px;
}

section.statistics tr > td:nth-child(2) {
	width: 150px;
}

section.statistics tr > td:nth-child(3) {
	width: 220px;
}

section.statistics tr > td:nth-child(4) {
	width: 600px;
}

section.statistics tr > td > b {
	color: #222222;
	font-size: 24px;
	font-weight: 500;
	line-height: 30px;
}

section.statistics tr > td > span {
	color: #222222;
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
	display: block;
	padding: 13px 0 0;
}

section.statistics tr > td > a {
	color: #1333f7;
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
	display: block;
	padding: 13px 0 0;
}

section.statistics tr > td > a:hover {
	text-decoration: underline;
}

section.payment_systems {
	padding-bottom: 90px;
}

section.payment_systems .systems {
	font-size: 0;
}

section.payment_systems .systems .pay_sys {
	width: 170px;
	height: 70px;
	margin-right: 30px;
	display: inline-block;
	text-align: center;
}

section.payment_systems .systems .pay_sys:last-child {
	margin-right: 0;
}

section.payment_systems .systems .pay_sys svg {
	fill: #8a8a8a;
	width: 130px;
	height: 50px;
}

footer {
	background-color: #222222;
	padding: 60px 0;
}

footer .logo {
	width: 170px;
	height: 80px;
	display: block;
	padding-left: 15px;
}

footer .logo svg {
	width: 143px;
	height: 94px;
}

footer span.delimiter {
	width: 100%;
	height: 1px;
	background-color: #505050;
	display: block;
	margin: 20px 0 0;
}

footer .copyright {
	color: #ffffff;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	padding: 45px 0 55px;
}

footer .social {
	padding: 90px 0 0;
}

footer .social a {
	padding: 0 17px 0 0;
}

footer .social a svg {
	width: 20px;
	height: 20px;
	fill: #ffffff;
	opacity: 0.8;
	border-radius: 2px;
	-webkit-transition: 0.3s all;
	-moz-transition: 0.3s all;
	-ms-transition: 0.3s all;
	-o-transition: 0.3s all;
	transition: 0.3s all;
}

footer .social a svg:hover {
	opacity: 1;
}

footer p.connect {
	color: #ffffff;
	font-size: 24px;
	font-weight: 500;
	line-height: 24px;
	padding: 33px 0 22px;
}

footer p.data,
footer p.data > a {
	color: #ffffff;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	padding: 45px 75px 0 0;
}

section.support {
	margin-top: 40px;
}

section.support .bgi {
	position: relative;
	background-image: url(images/support_bg.png);
	height: 200px;
}

section.support .bgi:before {
	background-color: #f9f9f9;
	position: absolute;
	content: '';
	top: 0;
	left: -50%;
	width: 100%;
	height: 100%;
	z-index: -1;
}

section.support .bgi p.theme_title {
	margin-top: 152px;
	margin-bottom: 0;
}

section.support .bgi p.theme_title:before {
	top: 99%;
}

section.support .connect_data {
	padding: 35px 0 12px;
}

section.support .connect_data span {
	display: block;
	color: #222222;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	padding: 10px 0;
}

section.support .connect_data span.location svg {
	width: 8px;
	height: 12px;
	fill: #1333f7;
	margin-right: 16px;
}

section.support .connect_data span.mail svg {
	width: 12px;
	height: 9px;
	fill: #1333f7;
	margin-right: 16px;
}

section .social {
	padding: 0 0 95px;
}

section .social a {
	padding: 0 17px 0 0;
}

section .social a svg {
	width: 20px;
	height: 20px;
	fill: #1333f7;
	opacity: 0.8;
	border-radius: 2px;
	-webkit-transition: 0.3s all;
	-moz-transition: 0.3s all;
	-ms-transition: 0.3s all;
	-o-transition: 0.3s all;
	transition: 0.3s all;
}

section .social a svg:hover {
	opacity: 1;
}
.button .for_hover__css {
	height: 40px;
	position: relative;
}

.button .for_hover__css {
	background-color: #1333f7;
	color: #fefefe;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
	padding: 8px 18px;
	letter-spacing: 3.2px;
	display: inline-block;
}

.button .for_hover__css input {
	background-color: transparent !important;
	width: 95px;
	height: 40px;
	color: transparent !important;
	border: 0;
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
}

section.support p.title {
	padding: 0;
	line-height: 20px;
}

section.support .map {
	width: 100%;
	height: 100% !important;
}

.block {
	height: 100px;
}

section.support .connect_data {
	padding: 35px 0 12px;
}

.map > iframe {
	width: 100% !important;
	height: 100% !important;
	min-height: 710px;
}

.map {
	min-height: 710px;
}

form#support {
	padding: 50px 0 0;
}

.captcha {
	width: 350px;
	height: 80px;
}

form input,
form textarea {
	color: #222222;
	font-size: 16px !important;
	font-weight: 400;
	line-height: 24px;
	padding: 0 0 20px;
}

form .form-control::-moz-placeholder,
form .form-group .form-control::-moz-placeholder {
	color: #cccccc;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

form .form-control:-ms-input-placeholder,
form .form-group .form-control:-ms-input-placeholder {
	color: #cccccc;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

form .form-control::-webkit-input-placeholder,
form .form-group .form-control::-webkit-input-placeholder {
	color: #cccccc;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

form .form-group {
	margin-bottom: 25px;
}
form textarea {
	margin-bottom: 30px;
}

.button {
	margin-top: 30px;
}

section.affiliate_program {
	margin-top: 40px;
}

section.affiliate_program .bgi {
	position: relative;
	background-image: url(images/affiliate_bg.png);
	height: 200px;
}

section.affiliate_program .bgi:before {
	background-color: #f9f9f9;
	position: absolute;
	content: '';
	top: 0;
	left: -50%;
	width: 100%;
	height: 100%;
	z-index: -1;
}

section.affiliate_program .bgi p.theme_title {
	margin-top: 152px;
	margin-bottom: 0;
}

section.affiliate_program .bgi p.theme_title:before {
	top: 99%;
}

section.affiliate_program p.title {
	padding: 0 0 20px;
	line-height: 20px;
}

p.text {
	color: #222222;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	padding: 25px 0 0;
}

p.text > span {
	font-size: 24px;
}

.chartist {
	height: 360px;
}

section.faq {
	margin-top: 40px;
}

section.faq .bgi {
	position: relative;
	background-image: url(images/faq_bg.png);
	height: 200px;
}

section.faq .bgi:before {
	background-color: #f9f9f9;
	position: absolute;
	content: '';
	top: 0;
	left: -50%;
	width: 100%;
	height: 100%;
	z-index: -1;
}

section.faq .bgi p.theme_title {
	margin-top: 152px;
	margin-bottom: 0;
}

section.faq .bgi p.theme_title:before {
	top: 99%;
}

section.faq p.title {
	padding: 0 0 20px;
	line-height: 20px;
}

.panel-group {
	margin-bottom: 70px;
}

.panel-group a.open {
	color: #1333f7;
	padding: 20px 0 0;
	font-size: 24px;
	font-weight: 400;
	display: block;
	position: relative;
	-webkit-transition: 0.3s all;
	-moz-transition: 0.3s all;
	-ms-transition: 0.3s all;
	-o-transition: 0.3s all;
	transition: 0.3s all;
}

.panel-group a.open img {
	-webkit-transform: rotate(0);
	-ms-transform: rotate(0);
	-o-transform: rotate(0);
	transform: rotate(0);
	position: absolute;
	right: 0;
	top: 35px;
	-webkit-transition: 0.3s all;
	-moz-transition: 0.3s all;
	-ms-transition: 0.3s all;
	-o-transition: 0.3s all;
	transition: 0.3s all;
}

.panel-group a.open.collapsed img {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.panel-group a.open.collapsed {
	color: #222222;
}

.panel-group a.open:hover {
	color: #1333f7;
}

.panel-group .panel {
	box-shadow: none;
	padding-bottom: 15px;
}

section.news {
	margin-top: 40px;
}

section.news .bgi {
	position: relative;
	background-image: url(images/news_bg.png);
	height: 200px;
}

section.news .bgi:before {
	background-color: #f9f9f9;
	position: absolute;
	content: '';
	top: 0;
	left: -50%;
	width: 100%;
	height: 100%;
	z-index: -1;
}

section.news .bgi p.theme_title {
	margin-top: 152px;
	margin-bottom: 0;
}

section.news .bgi p.theme_title:before {
	top: 99%;
}

section.news .news_item {
	font-size: 0;
	margin-bottom: 90px;
}

section.news .news_item .date {
	display: inline-block;
	width: 100px;
	height: 100px;
	margin-right: 100px;
	background-color: #1333f7;
	text-align: center;
	vertical-align: top;
}

section.news .news_item .date b {
	color: #ffffff;
	font-size: 48px;
	font-weight: 400;
	line-height: 30px;
	display: block;
	padding-top: 20px;
}

section.news .news_item .date span {
	color: #ffffff;
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
	display: block;
	padding-top: 10px;
}

section.news .news_item .news_text {
	display: inline-block;
	width: 770px;
}

section.news .news_item .news_text p.title {
	padding: 0;
	line-height: 27px;
}

section.news .news_item .news_text > span {
	color: #222222;
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
	position: relative;
	display: block;
	padding: 20px 0 28px;
	margin-bottom: 20px;
}

section.news .news_item .news_text > span:after {
	position: absolute;
	content: '';
	width: 30px;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #1333f7;
}

section.sign {
	padding: 100px 0;
}

section.sign p.theme_title {
	margin: 0;
}

section.sign form {
	padding-top: 50px;
}

section.sign input[type="submit"] {
	width: 120px;
}

.buttons {
	padding-top: 30px;
}

.buttons a {
	color: #222222;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-decoration: underline;
	-webkit-transition: 0.3s all;
	-moz-transition: 0.3s all;
	-ms-transition: 0.3s all;
	-o-transition: 0.3s all;
	transition: 0.3s all;
}

.buttons a:hover {
	color: #1333f7;
}

.buttons a:last-child {
	float: right;
}

section.cabinet {
	background-color: #f7f7f7;
	padding-bottom: 100px;
}

section.cabinet .cabinet_inner__menu nav {
	padding: 40px 0 100px;
}

section.cabinet .cabinet_inner__menu nav > a.inner_menu__item {
	color: #222222;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	position: relative;
	display: inline-block;
	padding: 8px 25px 8px 15px;
	margin-left: 30px;
	background-color: #f7f7f7;
	-webkit-transition: 0.3s all;
	-moz-transition: 0.3s all;
	-ms-transition: 0.3s all;
	-o-transition: 0.3s all;
	transition: 0.3s all;
}

section.cabinet .cabinet_inner__menu nav > a.inner_menu__item:first-child {
	margin-left: 0;
}

section.cabinet .cabinet_inner__menu nav > a.inner_menu__item.active {
	background-color: #1333f7;
	color: #ffffff;
}

section.cabinet .cabinet_inner__menu nav > a.inner_menu__item.active svg {
	fill: #ffffff;
}

section.cabinet .cabinet_inner__menu nav > a.inner_menu__item.hvr-sweep-to-right:before {
	background-color: #1333f7;
}

section.cabinet .cabinet_inner__menu nav > a.inner_menu__item:after {
	position: absolute;
	content: '';
	width: 4px;
	height: 40px;
	left: 0;
	top: 0;
	background-color: #1333f7;
}

section.cabinet .cabinet_inner__menu nav > a.inner_menu__item svg {
	width: 20px;
	height: 20px;
	fill: #222222;
	vertical-align: sub;
	-webkit-transition: 0.3s all;
	-moz-transition: 0.3s all;
	-ms-transition: 0.3s all;
	-o-transition: 0.3s all;
	transition: 0.3s all;
}

section.cabinet .cabinet_inner__menu nav > a.inner_menu__item:hover svg {
	fill: #ffffff;
}

section.cabinet .cabinet_inner__menu nav > a.inner_menu__item:hover {
	color: #ffffff;
}

section.cabinet p.username {
	color: #222222;
	font-size: 24px;
	font-weight: 400;
	line-height: 24px;
	padding-bottom: 43px;
}

section.cabinet .balance_block {
	margin: 0 0 100px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
	height: 90px;
	background-color: #ffffff;
}

section.cabinet .img_bg,
section.cabinet .balance_text {
	display: inline-block;
}

section.cabinet .balance_text {
	vertical-align: top;
	padding: 15px 27px;
}

section.cabinet .img_bg {
	text-align: center;
	width: 100px;
	height: 90px;
	position: relative;
	background-color: #1333f7;
}

section.cabinet .img_bg img {
	display: block;
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

section.cabinet .balance_text p {
	color: #808080;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

section.cabinet .balance_text b {
	display: block;
	color: #222222;
	font-size: 24px;
	font-weight: 500;
	line-height: 24px;
	text-transform: uppercase;
	padding: 10px 0;
}

section.cabinet .quotes {
	margin-bottom: 100px;
}

section.cabinet .quotes .img_before {
	display: inline-block;
	background-color: #1333f7;
	padding: 15px;
	width: 50px;
	height: 50px;
	margin-right: 50px;
}

section.cabinet .quotes .img_before:before {
	position: absolute;
	content: '';
	left: -50%;
	width: 665px;
	background-color: #1333f7;
	top: 50px;
	height: 2px;
}

section.cabinet .quotes p {
	color: #222222;
	font-size: 24px;
	font-style: italic;
	line-height: 24px;
	font-weight: 400;
	vertical-align: middle;
	display: inline-block;
	margin-right: 50px;
}

section.cabinet .quotes p > b {
	color: #1333f7;
	font-weight: 500;
}

section.cabinet .cab_affiliate {
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
	background-color: #ffffff;
	padding: 30px;
	margin-bottom: 50px;
}

section.cabinet .cab_affiliate p.title {
	color: #222222;
	font-size: 24px;
	font-weight: 500;
	line-height: 24px;
	padding: 0 0 35px 0;
}

section.cabinet .cab_affiliate .data_block {
	display: inline-block;
	width: 340px;
	margin-right: 30px;
	vertical-align: top;
}

section.cabinet .cab_affiliate .data_block p {
	color: #808080;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	padding: 0 0 10px;
}

section.cabinet .cab_affiliate .data_block b {
	color: #222222;
	font-size: 24px;
	font-weight: 500;
	line-height: 24px;
	text-transform: uppercase;
}

section.cabinet .cab_affiliate .link_block {
	display: inline-block;
	width: 470px;
	margin-right: 50px;
}

section.cabinet .cab_affiliate .link_block label {
	color: #808080;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	margin-bottom: 0;
}

section.cabinet .cab_affiliate .link_block input {
	color: #222222;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	padding-bottom: 10px;
}

section.cabinet .cab_affiliate .link_block .form-group {
	padding: 5px 0 0;
}

section.cabinet .cab_affiliate .link_block .form-control {
	height: 100%;
}

section.cabinet .account_info {
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
	background-color: #ffffff;
	padding: 30px;
}

section.cabinet .account_info p.title {
	color: #222222;
	font-size: 24px;
	font-weight: 500;
	line-height: 24px;
	display: block;
	padding: 0 0 25px;
}

section.cabinet .info_block {
	display: inline-block;
	margin-bottom: 35px;
}

section.cabinet .account_info ._block {
	display: inline-block;
	width: 160px;
}

section.cabinet .account_info .info_block > .info_string {
	padding: 10px 0;
}

section.cabinet .account_info span {
	color: #808080;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	display: inline-block;
	min-width: 170px;
}

section.cabinet .account_info p {
	display: inline-block;
	color: #222222;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	min-width: 170px;
}

section.cabinet .calc_deposit {
	height: 180px;
	margin-bottom: 100px;
}

section.cabinet .invest_tabs {
	font-size: 0;
	box-shadow: -11px 0 15px -11px rgba(0, 0, 0, 0.25);
	background-color: #f7f7f7;
	display: inline-block;
	z-index: 100;
}

section.cabinet .invest_tabs span.tab {
	cursor: pointer;
	display: inline-block;
	color: #222222;
	font-size: 24px;
	font-weight: 500;
	line-height: 20px;
	padding: 30px;
	z-index: 5;
	position: relative;
	box-shadow: 2px -9px 15px rgba(0, 0, 0, 0.1);
}

section.cabinet .invest_tabs span.tab.active {
	background-color: #ffffff;
	z-index: 10;
}

section.cabinet .invest_tabs span.tab:first-child span.tab.active {
	box-shadow: 5px -9px 15px rgba(0, 0, 0, 0.1);
}

section.cabinet .invest_tabs span.tab:last-child span.tab.active {
	box-shadow: 0 -9px 15px rgba(0, 0, 0, 0.1);
}

section.cabinet .invest_tabs span.tab.active:before {
	position: absolute;
	content: '';
	width: 70px;
	height: 4px;
	background-color: #1333f7;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
}

section.cabinet .invest_bitcoins {
	background-color: #ffffff;
	z-index: 5;
	width: 100%;
	padding: 50px 30px 30px;
	margin-bottom: 100px;
	font-size: 0;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

section.cabinet .invest_balance {
	background-color: #ffffff;
	z-index: 5;
	width: 100%;
	padding: 50px 30px 30px;
	margin-bottom: 100px;
	font-size: 0;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

section.cabinet .invest_balance .data_block b {
	color: #222222;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
	display: block;
	padding: 10px 0 0;
}

section.cabinet .invest_balance .right_part {
	padding: 0;
}

section.cabinet .invest_bitcoins p.title,
section.cabinet .invest_balance p.title {

}

section.cabinet .invest_balance form .button input {
	width: 220px;
}

section.cabinet .invest_balance form .button {
	margin-top: 0;
}

section.cabinet p.title {
	padding: 0 0 40px;
	font-size: 24px;
	line-height: 20px;
}

section.cabinet p.title > b {
	color: #1333f7;
	font-weight: 500;
}

section.cabinet .left_part {
	width: 740px;
	display: inline-block;
}

section.cabinet .left_part img {
	display: inline-block;
	width: 170px;
	height: 170px;
	-webkit-background-size: cover;
	background-size: cover;
	margin: 30px 60px 0 0;
}

section.cabinet .left_part i {
	display: inline-block;
	position: relative;
	color: #808080;
	font-size: 16px;
	font-style: italic;
	line-height: 24px;
	vertical-align: top;
	padding: 25px 0;
	width: 400px;
}

section.cabinet .right_part {
	display: inline-block;
	vertical-align: top;
	padding: 20px 0 0;
}

section.cabinet .data_block {
	display: inline-block;
	min-width: 170px;
	margin-right: 60px;
	vertical-align: top;
}

section.cabinet .data_block p {
	color: #808080;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}

section.cabinet .data_block a {
	display: block;
	color: #1333f7;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	padding: 7px 0 0;
}

section.cabinet .data_block a:hover {
	text-decoration: underline;
}

section.settings {
	padding-bottom: 200px;
}

section.settings .part_of_form {
	display: inline-block;
	vertical-align: top;
	width: 370px;
}

section.settings p.title {
	font-size: 24px;
	line-height: 20px;
	padding: 0 0 42px;
}

section.settings p.title.pad {
	padding-top: 20px;
}

section.settings .part_of_form:first-child {
	margin-right: 130px;
}

section.settings .button .for_hover__css input {
	width: 285px;
}

section.cabinet .cab_withdrawal {
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
	background-color: #ffffff;
	padding: 30px;
	margin-bottom: 100px;
}

section.cabinet .cab_withdrawal p.title {
	color: #222222;
	font-size: 24px;
	font-weight: 500;
	line-height: 24px;
	padding: 0 0 35px 0;
}

section.cabinet .cab_withdrawal .data_block {
	display: inline-block;
	width: 170px;
	margin-right: 60px;
	vertical-align: top;
}

section.cabinet .cab_withdrawal .data_block:nth-child(2) {
	width: 215px;
}

section.cabinet .cab_withdrawal .data_block:nth-child(3) {
	width: 440px;
}

section.cabinet .cab_withdrawal .data_block p {
	color: #808080;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}

section.cabinet .cab_withdrawal .data_block i {
	color: #222222;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
	font-style: normal;
	display: block;
	padding: 8px 0;
}

section.cabinet .cab_withdrawal .for_hover__css.hvr-sweep-to-right input {
	width: 245px;
}

section.cabinet .cab_withdrawal .check_box label {
	color: #222222;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

section.cabinet .cab_withdrawal .check_box label > input {
	margin-right: 12px;
}

section.cabinet .cab_withdrawal .button {
	margin-top: 20px;
}

section.cabinet .table_withdrawal .table_caption {
	color: #222222;
	font-size: 24px;
	font-weight: 500;
	line-height: 24px;
	padding: 0 0 37px;
}

section.cabinet .table_withdrawal table {
	width: 100%;
}

section.cabinet .table_withdrawal table tr > td:nth-child(1) {
	width: 100px;
}

section.cabinet .table_withdrawal table tr > td:nth-child(2) {
	width: 200px;
}

section.cabinet .table_withdrawal table tr > td:nth-child(3) {
	width: 370px;
}

section.cabinet .table_withdrawal table tr > td:nth-child(4) {
	width: 255px;
}

section.cabinet .table_withdrawal table tr > td > p {
	color: #808080;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	padding-bottom: 5px;
}

section.cabinet .table_withdrawal table tr > td > span {
	color: #222222;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	display: block;
	padding: 10px 0 10px;
}

section.cabinet .table_withdrawal table tr > td > a {
	color: #1333f7;
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
}

section.cabinet .table_withdrawal table tr > td > a:hover {
	text-decoration: underline;
}

.modal-content {
	text-align: center;
}

.modal-dialog {
	width: 370px;
}

.modal-content {
	border-radius: 0;
	text-align: center;
	padding: 0 60px 30px;
}

.modal-content p.title {
	color: #222222;
	font-size: 24px;
	font-weight: 500;
	line-height: 24px;
	position: relative;
	padding: 35px 0 25px;
}

.modal-content p.title:before {
	position: absolute;
	content: '';
	width: 70px;
	height: 4px;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	background-color: #25c054;
}

.modal-content span {
	color: #222222;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	display: block;
}

section.cabinet.deposit .table_withdrawal table tr > td:nth-child(3) {
	width: 170px;
}

section.cabinet.deposit .table_withdrawal table tr > td:nth-child(4) {
	width: 375px;
}

section.cabinet.deposit .table_withdrawal table tr > td:nth-child(5) {
	width: 250px;
}

section.referral .data_block {
	width: 100%;
	margin-bottom: 100px;
}

section.referral .data_block p {
	font-size: 16px;
}

section.referral .data_block input {
	color: #222222;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

section.cabinet .data_block a.main_btn {
	display: inline-block;
	text-align: center;
	color: #fefefe;
	padding: 8px 18px;
	margin-top: 30px;
	cursor: pointer;
}

section.cabinet .data_block a.main_btn:hover {
	text-decoration: none;
}

section.referral .referrals table tr > td:first-child {
	width: 170px;
}

section.referral .referrals table tr > td:nth-child(2),
section.referral .referrals table tr > td:nth-child(3),
section.referral .referrals table tr > td:nth-child(4) {
	width: 200px;
}

section.referral .referrals table tr > td > p {
	color: #808080;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	padding: 5px 0 10px;
}

section.referral .referrals table tr > td > span {
	display: block;
	color: #222222;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	padding: 9px 0;
}

section.cabinet .inv.id_2.invest_balance,
section.cabinet .inv.id_2.promo_materials {
	display: none;
}

section.referral .referrals {
	background-color: #ffffff;
	z-index: 5;
	width: 100%;
	padding: 50px 30px 30px;
	font-size: 0;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

section.referral .promo_materials {
	background-color: #ffffff;
	z-index: 5;
	width: 100%;
	padding: 50px 30px 30px;
	font-size: 0;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

section.referral .promo_materials p.title {
	padding-bottom: 0;
}

section.referral .promo_materials img {
	display: block;
	margin: 50px 0 30px;
}

section.referral .promo_materials b {
	color: #808080;
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
	display: block;
	margin-bottom: 15px;
}

.cabinet_calc {
	width: 900px;
	padding: 50px 0;
}

section.cabinet #slider01 {
	width: 900px;
	margin-bottom: 50px;
	position: relative;
}

.ui-widget-header {
	background: #1333f7;
}

.ui-slider-horizontal {
	height: 2px;
}


.cabinet_calc #slider01 .set.ui-state-default {
	display: none;
}

.ui-widget-header {
	background: #1333f7;
}

.parts_of__slider {
	position: absolute;
	width: 900px;
}

.parts_of__slider .left_slider_part {
	float: left;
	width: calc(900px/3);
}

.parts_of__slider .right_slider_part {
	float: right;
	width: calc(900px/3);
}

.sl_part {
	position: relative;
}

.sl_part span {
	position: absolute;
	top: 0;
}

.sl_part span:after {
	position: absolute;
	content: '';
	top: 0;
	bottom: 0;
	left: -3px;
	margin: auto;
	width: 22px;
	height: 22px;
	background-color: #1333f7;
}

.sl_part span > i {
	display: block;
	position: absolute;
	width: 100%;
	color: #1333f7;
	font-family: Geometria;
	bottom: 25px;
	left: -3px;

	margin: auto;
	font-size: 16px;
	font-weight: 500;
	font-style: normal;
}

.sl_part span > b {
	position: absolute;
	display: block;
	top: 22px;
	left: -3px;
	color: #808080;
	font-family: Geometria;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
}

.sl_part span:first-child {
	left: 0;
}

.sl_part span:last-child {
	right: 0;
}

@media (max-width: 1200px) {
	section {
		overflow: hidden;
	}
}






